.page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.all-lists {
  height: 100vh;
  flex: 5;
  padding: 20px;
}

.application-content {
  padding: 30px 20px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.application-content div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  gap: 10px;
}

.box > .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1umw9bq-MuiSvgIcon-root {
  cursor: pointer;
  width: 35px;
  height: 35px;
  color: rgb(125, 125, 125);
}

.closed-title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(0, 110, 0);
  background-color: rgba(0, 220, 0, 0.115);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
}

.in-progress-title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: blue;
  background-color: rgba(0, 62, 220, 0.067);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
}

.moving-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 10px;
  background-color: #f8f9fa;
}

.moving-container.open {
  max-height: 200px;
  padding: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(86, 86, 86);
  background-color: rgba(248, 249, 250, 0.115);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 500;
}

.plus-icon {
  cursor: pointer;
  width: 35px;
  height: 35px;
  color: rgb(112, 112, 112);
  margin-top: 3px;
}
